<div class="clear">
  <header class="text-center">
    <h4 class="hidden-xs">कौशल भारत - कुशल भारत</h4>
    <h1 class="hidden-xs">Bharat Skills</h1>
    <p class="dgt"> Directorate General of Training (DGT)</p>
    <p class="hidden-xs">MSDE has opted to publish Registries of Training Centers, Courses, Teachers, and Students which
      are accessible via Open APIs.
    </p>
    <p>
      Electronic Registries allow the Ministry of Skill Development to create a single source of truth on key skilling
      data on actors and entities for the ecosystem.
    </p>
    <p>MSDE will also soon be issuing digital <a href="https://bharatskills.gov.in/pdf/ESCS/Electronic_Skill_Credential_Standard_v1.0.pdf" target="_blank">National Trade Certificate credentials </a> as per a machine readable
     <a href="https://github.com/sunbird-specs/inCredible" target="_blank"> open standard </a>.</p>
    <div class="search-container">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 theater">
          <div class="square1">
            <a routerLink="dashboard">
              <div class="circle-shape">
                <div class="circle-shape-description">
                  <i class="fa fa-3x fa-bar-chart" aria-hidden="true"></i>
                </div>
              </div>
              Dashboard
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 theater">
          <div class="square1">
            <a href="apidoc/index.html">
              <div class="circle-shape dance-circle">
                <div class="circle-shape-description">
                  <i class="fa fa-3x fa-file-text-o" aria-hidden="true"></i>
                </div>
              </div>
              API docs
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 theater">
          <div class="square1">
            <a routerLink="search">
              <div class="circle-shape theater-circle">
                <div class="circle-shape-description">
                  <i class="fa fa-3x fa-search-plus" aria-hidden="true"></i>
                </div>
              </div>
              Search <h6>Powered by Registry</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container mt-5">


  <div class="row centered">

    <div class="jumbotron ls-item" id="About">
      <h3 class="display-5">Why build a Registry? </h3>
      <p>Registries are a programmatic interface for master data. They can operate as a layer above existing internal databases (which are otherwise not reachable to the ecosystem). Registries enable other ecosystem players and developers (public, private, and non-profit) to access
        data via Open APIs, and build a variety of market solutions (eg. rating applications or locator applications in
        different languages) to share information in the Registry for end users. </p>
      <h5>Key Features</h5>
      <ol>
        <li><strong>Open APIs </strong> allow machine readable (automated) access rather than just human access via
          portals or apps, which makes data use scalable and cost efficient for third parties. The ease of use of APIs
          also prevents others from creating copies of the data and serving as a separate source. </li>
        <li><strong>Digital signatures </strong> ensure trust in the data that is shared. Digitally signed data
          available via these APIs brings in tamper resistance, electronic verifiability, and portability of data.
        </li>
        <li><strong>Feedback</strong> allows MSDE to crowdsource inputs to and improvements to the data.</li>
      </ol>
      <p>The API documentation for third party developers to read and search the Registry data is available at this
        <a href="apidoc/index.html">link.</a></p>
    </div>
  </div>
</div>