<div class="clear">
  <header class="text-center">
    <h4 class="hidden-xs">कौशल भारत - कुशल भारत</h4>
    <h1 class="hidden-xs">Bharat Skills</h1>
    <p class="hidden-xs">MSDE has opted to publish Registries of Training Centers, Courses, Teachers, and Students.
    </p>
    <p class="dgt"> Electronic Registries of training centers, courses, teachers, testing agencies, etc. allow the
      Ministry of Skill Development to create a single source of truth on key skilling data for the ecosystem.</p>
    <div class="search-container">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 theater">
          <div class="square1">
            <a routerLink="dashboard">
              <div class="circle-shape">
                <div class="circle-shape-description">
                    <i class="fa fa-3x fa-bar-chart" aria-hidden="true"></i>
                </div>
              </div>
              Dashboard
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 theater">
          <div class="square1">
            <a href="http://registry.bharatskills.org.in/sampleregistry.html" target="_blank">
              <div class="circle-shape dance-circle">
                <div class="circle-shape-description">
                    <i class="fa fa-3x fa-file-text-o" aria-hidden="true"></i>
                </div>
              </div>
              API doc
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 theater">
          <div class="square1">
            <a routerLink="search">
              <div class="circle-shape theater-circle">
                <div class="circle-shape-description">
                    <i class="fa fa-3x fa-search-plus" aria-hidden="true"></i>
                </div>
              </div>
              Search <h6>Powered by Registry</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container mt-5">


  <div class="row centered">

    <div class="jumbotron ls-item" id="About">
      <h3 class="display-5">What is a Registry?</h3>
      <ol>
        <li>The data is considered a representation of truth by using digital signatures to ensure only verifiable and
          trusted data is shared.Digitally signed data available via these APIs brings in tamper resistance, electronic
          verifiability, and portability of data.</li>
        <li>MSDE becomes a source of data (eg on training center locations, students, courses, etc.) via sharing data
          openly through APIs. This ensures machine readable access rather than just human access via portals or apps.
          Enabling automated access by external systems makes data use scalable and cost efficient for these third
          parties. The ease of use of APIs also prevents others from creating copies of the data and serving as a
          separate
          source.
        </li>
      </ol>
      <p>Registries are thus a programmatic interface for verifiable data designed as a layer above internal existing
        MSDE
        databases, enabling other ecosystem players and developers (public, private, and non-profit) to build a variety
        of
        market solutions -- such as rating applications or tailored locator applications in different languagess -- for
        end users.</p>
    </div>
  </div>
</div>