
<section class="top-header">
  <div class="container">
      <div class="row top_header">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 hidden-xs">
              <ul class="title">
                  <li class="w-auto">
                      <span  class="float-left pr-4">
                          <img class="img-responsive" src="https://bharatskills.gov.in/img/logo.png" alt="" style="width: 25px;">
                      </span><span class="float-left">
                          भारत सरकार
                          <br>Government of India
                      </span>
                  </li>
                  <li class="hidden-xs">
                      कौशल विकास और उद्यमिता मंत्रालय
                      <br>Ministry of Skill Development and Entrepreneurship
                  </li>
              </ul>
          </div>
        
  </div>
  </div>
</section>

<router-outlet></router-outlet>
