/* .pad {
    float: left;
    padding-right: 1rem;
}

.text-dec {
    list-style: none;
} */

/* normalization css */


ol,
ul {
    list-style: none;
}


.top_header .title {
    font-family: 'Melbourne_reg';
}

section {
    display: block;
}
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.top-header {
    background: #f5f5f5;
    border-bottom: 1px solid;
}

.title li:first-child {
    border-right: 1px solid #ccc;
    text-align: right;
    width: 30%;
}

.title li,
.userdetails li {
    float: left;
    line-height: 1.4;
    font-size: 14px;
    padding: 5px;
}

.custompd {
    background: #1d2553;
    color: #fff;
    margin-top: .6em;
}

.userdetails li:nth-child(2) {
    width: 80%;
}

.userdetails input[type="text"] {
    width: 88%;
    height: 33px;
    padding: 0px 5px;
}

